body {
    font-family: "Science Gothic", sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background: -webkit-linear-gradient(bottom, #242424, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    animation: fadeInAnimation ease 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1
    }
}

div.title {
    font-style: oblique;
    font-size: 17px;
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(bottom, #ffffff, #5d5d5d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.conteiner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoNissan {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.logoNissan img {
    width: 5%;
    height: auto;
    object-fit: contain;
    animation: girar-infinito 30s linear infinite
}

@keyframes girar-infinito {

    from {

        transform: rotate(0deg);
    }

    to {

        transform: rotate(360deg);
    }
}

div.paragrafo {
    color: rgb(255, 255, 255);
    font-size: 21px;
    font-style: italic;
    padding: 40px;
}

div.welcome {
    display: flex;
    justify-content: center;
    font-style: italic;
    color: white;
    padding-top: 30px;
    overflow: hidden;
}

.pst {
    padding: 20px;
    height: 750px;
    width: 580px;
    overflow: hidden;
    transition: filter 0.3s ease;
}

.pst:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.75);
    filter: brightness(1.2);
}

div.posterNissan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin: 0;
    overflow: hidden;
}

div.posterBmw {
    display: flex;

}

div.posterCivic {
    display: flex;

}

a {
    color: #252525;
    text-decoration: none;
    transition: color 1s ease;
}

a:hover {
    background-color: #f0f0f0;
}

a:active {
    transform: scale(0.98);
    background-color: white
}

div.titleB {
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(bottom, #615020, #dfc51d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

div.bmw {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 35vh;
}

.bmw img {
    height: 600px;
    width: 600px;

}

div.logoBmw {
    display: flex;
    justify-content: center;
}

.logoBmw img {
    width: auto;
    height: 10vh;
    object-fit: contain;
    animation: girar-infinito 30s linear infinite
}

#comprar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0.2vh;
}

#comprar button {
    font-size: 20px;
    font-style: italic;
    width: 200px;
    height: 70px;
    color: white;
    border-radius: 15px;
    background-color: green;
    border-color: transparent;
}

#comprar button:hover {
    transform: scale(1.10);
    cursor: pointer;
    filter: brightness(1.5);
}

#comprar button:active {
    transform: scale(1.15);
    background-color: #79be81;
}

div.titleC {
    display: flex;
    justify-content: center;
    background: -webkit-linear-gradient(bottom, #ff0000, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

div.logoCivic {
    display: flex;
    justify-content: center;

}

.logoCivic img {
    height: 10vh;
    width: 80px;
    animation: girar-infinito 30s linear infinite;
    object-fit: contain;
}

.Civic {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 30vh;
}

.Civic img {
    height: 700px;
    width: 700px;
}